In [ ]:
CARS=["BMW","MERCEDEZ BENZ","TOYOTA","TATA","VOLKSWAGEN","MAHINDRA","FERRARI"]
for var in CARS:
  print(var,end=" ")

BMW MERCEDEZ BENZ TOYOTA TATA VOLKSWAGEN MAHINDRA FERRARI

In [ ]:
s="ABCDEFGHIJKL"
a=0
for i in s:
  print("HAPPY NEW YEAR")
  a=a+1

HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR
HAPPY NEW YEAR

In [ ]:
l=[10,15,5,20]
sum=0
for item in l:
  sum=sum+item
  print(sum)
print("Total =",sum)

10
25
30
50
Total = 50

In [ ]:
i=[1,2,3,4]
mul=1
for thing in i:
  mul=mul*thing
  print(mul)
print("Total product",mul)

1
2
6
24
Total product 24

In [ ]:
s=input("Enter the string ")
vowels='aeiouAEIOU'
for a in s:
  if a in vowels:
    print(a,"is a vowel")
  else:
    print(a,"is consonant")

Enter the string hbdcbw
h is consonant
b is consonant
d is consonant
c is consonant
b is consonant
w is consonant

In [ ]:
w=[20,30,33,24]
for u in w:
  if u % 2 == 0:
    print(u,"is even")
  else:
    print(u,"is odd")

20 is even
30 is even
33 is odd
24 is even

In [ ]:
e=input("Enter the string ")
count=0
for l in e:
  count=count+1

print("Length of string is",l)

Enter the string 1,2,3,4,5,6,7,8
Length of string is 8

In [ ]:
for a in range(5,26):
  print(a)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
for c in range(21,78):
  print(c)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [ ]:
for d in range(50):
  print("Happy New Year")

Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year
Happy New Year

In [ ]:
sum=0
mul=1
for e in range(1,21):
  sum+=e
  mul*=e

print("Sum is",sum)
print("Product is",mul)

Sum is 210
Product is 2432902008176640000

In [ ]:
for i in range(1,10,2):
  print(i,end=" ")

1 3 5 7 9

In [ ]:
for r in range(10,33,3):
  print(r,end=" ")

10 13 16 19 22 25 28 31

In [ ]:
for q in range(10,1,-1):
  print(q,end=" ")

10 9 8 7 6 5 4 3 2

In [ ]:
i=int(input("Enter the number "))
for s in range(1,11):
  print(i,"x",s,"=",i*s)

Enter the number 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
while condition:
  code
  code
  code

In [ ]:
while 10<5:
  print("Hi")

In [ ]:
n=1
while n<=10:
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=10
while n>=1:
  print(n)
  n=n-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
original='Abcd@1234'
print("Welcome!")
print("-*"*20)
user_pass=input("Please enter password ")
count=1
while user_pass!=original and count<=2:
  user_pass=input("Please enter password ")
  print("Wrong Password!")
  print("Try again")
  count+=1
  if user_pass==original:
    print("Hurray! Welcome")
    break
  if count==3:
    print("Forgot password")
    break
print("Welcome")

Welcome!
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
Please enter password jashd
Please enter password cbwhb
Wrong Password!
Try again
Please enter password abdah
Wrong Password!
Try again
Forgot password
Welcome

In [ ]:
l=[2,3,4,5,6,7,10,12,14]
for i in l:
  if i % 7==0:
    print("Found multiple of 7")
    break

Found multiple of 7

In [ ]:
for i in range(1,6):
  print("Outer Try: ",i)
  for j in range(1,4):
    print(j,end=" ")
  print("\n")

Outer Try:  1
1 2 3

Outer Try:  2
1 2 3

Outer Try:  3
1 2 3

Outer Try:  4
1 2 3

Outer Try:  5
1 2 3

In [ ]:
for f in range(1,6):
  for g in range(1,4):
    print(" * ",end=" ")
  print()

 *   *   *
 *   *   *
 *   *   *
 *   *   *
 *   *   *

In [ ]:
i=int(input("Enter the number "))
s=1
while s<=10:
  print(i,"x",s,"=",i*s)
  s+=1

Enter the number 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
for w in range(1,4):
  for q in range(1,6):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *

In [ ]:
for h in range(1,6):
  for k in range(h):
    print("* ",end=" ")
  print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [ ]:
e=5
for t in range(1,6):
  for r in range(e):
    print("* ",end=" ")
  print()
  e-=1

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
n=int(input("Levels "))
for i in range(n):
  for j in range(n-i):
    print("* ",end=" ")
  print()

Levels 8
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*